table, th, td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin:auto;
    width: 70%;
    text-align: center;
}

thead {
    background-color: yellow;
}

.firstcolumn {
    background-color: yellow;
}